# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for production builds
dist/

# macOS
.DS_Store

# Windows
Thumbs.db
